<%= render 'shared/header' %>
<main class="container home">
	<div class="col-md-6 col-md-offset-3 assignment-show-card">
	    <h4><%= @assignment.name %></h4>
	    <p>Due Date: <%= @assignment.due_date %></p>
	     <p>Description: <%= sanitize(@assignment.description) %></p>
	     </div>
	</div>
</main>

<% if current_user.admin? %>
<div class="col-md-6 col-md-offset-3">
	<div class="btn btn-default ">
		<%= link_to 'Edit', edit_course_assignment_path(@course), class: "btn" %>
	  <% else %>
	<% end %>
	</div>
</div>
