<p id="notice"><%= notice %></p>
<% title "Schedule" %>
<section>
	<%= render 'shared/header' %>
  </section>
  <div class="course-title">
	  <p><i class="fa fa-pencil-square-o fa-lg"></i> <%= @course.title %></p>
	  <p class="course-prof"><i class="fa fa-user fa-lg"></i> <%= @course.prof %></p>
  </div>
  <div class="row">
  	<div class="col-md-8">
	<div class="calendar"></div>
  </div>
  <div class="col-md-4">
    <% if @assignments.blank? %>
            <h3>No Assignments just yet, would you like to add the first!</h3>
            <%= link_to "Create an Assignment", new_course_assignment_path(@course), class: "btn btn-primary" %>
          <% else %>
            <% @assignments.each do |assignment| %>
              <div class="assignments">
                <p>Assignment: <%= assignment.name %></p>
                <p>Description: <%= assignment.description %></p>
                <p>Due Date: <%= assignment.due_date %></p>
                <br>
              </div>
            <% end %>
          <% end %>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>

  </div>
  	</div>
  

