<p id="notice"><%= notice %></p>
<% title "Schedule" %>
<section>
	<%= render 'shared/header' %>
  </section>
  <div class="course-title">
	  <p class=course-heading><i class="fa fa-pencil-square-o fa-lg"></i> <%= @course.title %></p>
	  <p class="course-prof"><i class="fa fa-user fa-lg"></i> <%= @course.prof %></p>
  </div>
  <div class="row">
  	<div class="col-md-8">
	<div class="calendar"></div>
  </div>
  <div class="col-md-4">
    <% if @assignments.blank? %>
            <h3>No Assignments at this moment</h3>
            <%= link_to "Create an Assignment", new_course_assignment_path(@course), class: "btn btn-primary btn-block btn-lg" %>
          <% else %>
          <h2 class="assignments-heading">Assignments</h2>
            <% @assignments.each do |assignment| %>
              <div class="assignments">
                <p><%= link_to "Assignment: #{assignment.name} ", course_assignment_path(@course, assignment) %></p>
                <p>Description: <%= sanitize(assignment.description.truncate(100))%></p>
                <p>Due Date: <%= assignment.due_date %></p>
                <%= link_to "show", course_assignment_path(@course, assignment) %>
                <p><%= link_to 'Destroy', course_assignment_path(@course, assignment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
                <br>
              </div>
            <% end %>
          <% end %>
          <%= paginate @assignments %>
<% if current_user.admin? %>
  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', courses_path %>
  <%= link_to 'New Assignment', new_course_assignment_path(@course) %>
 <% else %>
<% end %>

  </div>
  	</div>

